<li>
    <p>
                           
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <small>
             <a href="/comments/destroy/<%= comment.id%>">x</a>
            </small>
         <% } %>


        <%= comment.content %>
     <br>
     <small>
     
            <% if (comment.user && comment.user.name) { %>
                <%= comment.user.name %>
            <% } else { %>
                User information not available
            <% } %>
       
     </small>
     </p>
</li>